/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent any scrolling on the body level */
  background-color: #000;
}

#root {
  width: 100%;
  height: 100%;
  display: flex; /* Ensure root behaves as a container */
  flex-direction: column;
}
